---
import "../styles/global.css";
import { Button } from "../components/ui/button.tsx";
import Layout from "../layouts/main.astro";
---

<Layout title="Home" description="Welcome to the home page">
  <div class="grid h-screen place-items-center content-center">
    <Button>Tailwind Button in Astro!</Button>
  </div>
</Layout>
